**/dist/**
**/node_modules/**
**/__pycache__/**
**/.pytest_cache/**
**/.venv/**
backend/api/data/**
/volume/**
**/.env
**/.md/
**/.vscode/**
.issues/**
.prd/**
.prd-pt/**
.plans/**
.claude
.roomodes
CLAUDE.md
skills-lock.json
.agents/**
docs/*